*development.sqlite3
/public/uploads/**
/log/**
/tmp/**
/db/*.sqlite3
/public/system
/coverage/**
/spec/tmp/**
*sublime-project*
*sublime-workspace*
*development.log
*cache*
*DS_STORE*
*~
restart-server