#teaser-slider{margin-left:100px}.box-subtitle{font-size:23px}.thumbnails>li{margin-bottom:17px !important}#social-share{margin-left:300px}#teaser-slider-2{margin-left:-121px}#newsletterform{float:left;margin-top:5px}
