<div class="mainTitle">
		<div class="container">
			<h1>Give life to a place</h1>
			<p>Relive what happened on the place where you are, personal photos, sound, video, text...</p>
		</div>
	</div>
    
    <div id="mainCarousel" style="/* padding-top: 20px; */">
    	<div id="myCarousel" class="carousel slide" data-ride="carousel">
	      <div class="carousel-inner">
	        <div class="item active">
				<div id="googleMap" style="height: 450px; position: relative; background-color: rgb(229, 227, 223); background-image: url('/assets/bg.png');overflow: hidden; -webkit-transform: translateZ(0);border-bottom: 1px solid #8F8F8F;border-top: 1px solid #8F8F8F;"></div>
				  <div class="container">
					<div class="carousel-caption">
					  <a class="btn btn-lg btn-default" href="/sign_up" role="button" style="color: white;font-size:2em">Try it Now »</a>
					</div>
				  </div>
				</div>
		 	 </div>
		</div>
	</div>

    <div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="/assets/geo.png" alt="Generic placeholder image">
          <h2>Geolocation</h2>
          <p>Use your mobile to put a data, bla bla bla bla bla bla bla bla bnla</p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="/assets/history.png" alt="Generic placeholder image">
          <h2>History</h2>
          <p>Be part of the history, bla bla bla bla bla bla bla bla bnl, asdasd asd</p>
        </div>
        <div class="col-lg-4">
		  <img class="img-circle" src="/assets/social.png" alt="Lam Tikka">
          <h2>Social</h2>
          <p>Share and follow the places that you love, bla bla bla bla bla bla bla bla bnl</p>
        </div>
      </div>
	</div>
    <footer id="footer">
		<div class="container">
        	<p class="pull-right"><a href="/#">Back to top</a></p>
        	<p>© 2014 Neerbyy, Inc. · <a href="/#">Privacy</a> · <a href="/#">Terms</a></p>
		</div>
    </footer>
