<div class="col-md-8">
      <article>
        <section class="uvFaq typeset">
            <h1 style="padding-bottom: 40px;">FAQ (Foire Aux Questions)</h1>
            
<h4>Que faire si je n’arrive pas à me connecter à mon compte Neerbyy ?</h4>

<p>
	<span style="line-height: 1.4em;">
	Vérifiez dans un premier temps votre nom d’utilisateur et votre mot de passe. Si le problème persiste, essayez de réinitialiser ce dernier.
	</span>
</p>

<h4>Que faire si Neerbyy n’affiche pas les lieux autour de moi ?</h4>

<p>
	<span style="line-height: 1.4em;">
Vérifiez que vous avez autorisé Neerbyy à utiliser vos données de géolocalisation.	</span>
</p>

<h4>Que faire si je n’arrive pas à contacter un autre utilisateur ?</h4>

<p>
	<span style="line-height: 1.4em;">
Vérifiez que vous avez activé la messagerie. </span>
</p>

<h4>Que faire si je ne reçois pas les notifications sur mon mobile ?</h4>

<p>
	<span style="line-height: 1.4em;">Vérifiez que vous activé les notifications et autorisé Neerbyy à en recevoir, en fonction de votre
système d’exploitation</span>
</p>

<h4>Que faire si Neerbyy ne trouve pas le lieu que je cherche ?</h4>

<p>
	<span style="line-height: 1.4em;">Pour le moment, Neerbyy ne propose pas d’ajouter vos propres lieux. Il faudra faire avec ceux présents
dans l’application ; un développement dans cette direction peut être envisagé dans le futur.</span>
</p>

<h4>Comment cacher mon prénom et mon nom aux autres utilisateurs ?</h4>

<p>
	<span style="line-height: 1.4em;">Supprimez-les de votre profil</span>
</p>



	
        </section>
        
      </article>
    </div>