<h1> <%= @place.name %> </h1>
<h2> Posts: </h2><br />
<% publications = Publication.find_by(place_id: @place.id) %>
<% if publications != nil && publications.size > 0 %>
	<% publications do |publication| %>
	<%= publication.content %>
	<% end %>
<% else %>
	<p> There is no publications associated to this venue. </p>
<% end %>

<% 
	@publication = Publication.new
	@publication.user_id = @current_user.id
	@publication.place_id = @place.id
	@publication.title = "title"
	@publication.created_at = Date.current
%>
<!--  -->