    <header>
        <h1>Webservice</h1>
    </header>

     <div class="index-nav index-endpoints">
        <ul>
           
            <!--<li>
                <a href="/webservice-advertising">
                    <span class="description">Advertising</span>
                    <i></i>
                </a>
            </li>
            <li>
                <a href="/webservice-category">
                    <span class="description">Category</span>
                    <i></i>
                </a>
            </li>
            <li>
                <a href="/webservice-company">
                    <span class="description">Company</span>
                    <i></i>
                </a>
            </li>
            <li>
                <a href="/webservice-media">
                    <span class="description">Media</span>
                    <i></i>
                </a>
            </li>-->
            
            <li>
                <a href="/webservice-login">
                    <span class="description">Login</span>
                    <i></i>
                </a>
            </li>
            
            <li>
                <a href="/webservice-resetpassword">
                    <span class="description">Reset password</span>
                    <i></i>
                </a>
            </li>
            
            <li>
                <a href="/webservice-place">
                    <span class="description">Place</span>
                    <i></i>
                </a>
            </li>
            
            <li>
                <a href="/webservice-publication">
                    <span class="description">Publication</span>
                    <i></i>
                </a>
            </li>
            <!-- <li>
                <a href="/webservice-relationship">
                    <span class="description">Relationship</span>
                    <i></i>
                </a>
            </li>
            <li>
                <a href="/webservice-report">
                    <span class="description">Report</span>
                    <i></i>
                </a>
            </li> -->
            <li>
                <a href="/webservice-user">
                    <span class="description">User</span>
                    <i></i>
                </a>
            </li>
             <li>
                <a href="/webservice-vote">
                    <span class="description">Vote</span>
                    <i></i>
                </a>
            </li>
            <li>
                <a href="/webservice-comment">
                    <span class="description">Comment</span>
                    <i></i>
                </a>
            </li>
            
            
            
        </ul>
    </div>

    
        
    