    <header>
        <h1>Logins Endpoints</h1>
    </header>

     <div class="index-nav index-endpoints">
        <ul>
        	
        	
            <li>
                <a href="#go_get_one">
                    <span class="type">POST</span>
                    <b><code>/sessions/ + </code><span class="token">email</span><code> + </code><span class="token">password</span></b>
                    <span class="description">Login a user.</span>
                    <i></i>
                </a>
            </li>
            
        </ul>
    </div>
	
	 <section class="card endpoint" id="get_Logins_feed">
        <div class="card-description ep-description">            
            <table>
                <tbody>  
                	<tr>
                        <th>username</th>
                        <td>The User's username.</td>
                        <td>STRING</td>
                    </tr>  
                    
                    <tr>
                        <th>email</th>
                        <td>The User's email.</td>
                        <td>STRING</td>
                    </tr>  
                    <tr>
                        <th>password</th>
                        <td>The User's password.</td>
                        <td>STRING</td>
                    </tr>     
               </tbody>
            </table>
        </div>
    </section>
	
	<section class="card endpoint" id="go_create">
        <header>
            <h2>
                <span class="ep-type">POST</span>
                <code>/sessions/</code>
            </h2>
        </header>
        <div class="card-info">
            
            <code>/sessions.json + email + password</code>
        </div>
       
        <div class="card-description ep-description">
            <h1>
                Login the user
            </h1>   
            <h3>Username or Email</h3>
        	<span>curl -d "connection[email]=moomou@gmail.com&connection[password]=test" http://neerbyy.com/sessions.json</span>
        	
        </div>
    </section>
	
	 
    
        
    

  
            
