    <header>
        <h1>Publications Endpoints</h1>
    </header>

     <div class="index-nav index-endpoints">
        <ul>
        	<li>
                <a href="#go_create">
                    <span class="type">POST</span>
                    <b><code>/publications/</code></b>
                    <span class="description">Create a new publication.</span>
                    <i></i>
                </a>
            </li>
        	<!--  <li>
                <a href="#go_get_all">
                    <span class="type">GET</span>
                    <b><code>/publications/</code></b>
                    <span class="description">Get all the publications.</span>
                    <i></i>
                </a>
         </li> -->
            <li>
                <a href="#go_get_one">
                    <span class="type">GET</span>
                    <b><code>/publications/</code><span class="token">user_id</span></b>
                    <span class="description">Get all the publications about a specific user.</span>
                    <i></i>
                </a>
            </li>
            <li>
                <a href="#go_get_place">
                    <span class="type">GET</span>
                    <b><code>/publications/</code><span class="token">place_id</span></b>
                    <span class="description">Get all the publications about a specific place.</span>
                    <i></i>
                </a>
            </li>
            <li>
                <a href="#go_get_one">
                    <span class="type">GET</span>
                    <b><code>/publications/</code><span class="token">id</span></b>
                    <span class="description">Get basic information about an publication.</span>
                    <i></i>
                </a>
            </li>
            
            <li>
                <a href="#go_edit">
                    <span class="type">PUT</span>
                    <b><code>/publications/</code><span class="token">id</span></b>
                    <span class="description">Edit a specific publication.</span>
                    <i></i>
                </a>
            </li>
            <li>
                <a href="#go_delete">
                    <span class="type">DEL</span>
                    <b><code>/publications/</code><span class="token">id</span></b>
                    <span class="description">Delete a specific publication.</span>
                    <i></i>
                </a>
            </li>
        </ul>
    </div>
	
	 <section class="card endpoint" id="get_publications_feed">
        <div class="card-description ep-description">            
            <table>
                <tbody>  
                	<tr>
                        <th>id</th>
                        <td>The publication's id.</td>
                        <td>INTEGER</td>
                    </tr>           
                    <tr>
                        <th>user_id</th>
                        <td>The publication's user_id.</td>
                        <td>INTEGER</td>
                    </tr>
                    
                   
                    
                    <tr>
                        <th>place_id</th>
                        <td>The publication's place_id.</td>
                        <td>STRING</td>
                    </tr>
                    <tr>
                        <th>longitude</th>
                        <td>The publication's longitude.</td>
                        <td>FLOAT</td>
                    </tr>
                    <tr>
                        <th>latitude</th>
                        <td>The publication's latitude.</td>
                        <td>FLOAT</td>
                    </tr>
                    <tr>
                        <th>content</th>
                        <td>The publication's content.</td>
                        <td>TEXT</td>
                    </tr>
                    <tr>
                        <th>link</th>
                        <td>The publication's publication link url.</td>
                        <td>STRING</td>
                    </tr>
                    <tr>
                        <th>file</th>
                        <td>The publication's publication file url.</td>
                        <td>STRING</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>The publication's type.</td>
                        <td>STRING</td>
                    </tr>
                    <tr>
                        <th>created_at</th>
                        <td>Date created.</td>
                        <td>DATE</td>
                    </tr>
                    <tr>
                        <th>updated_at</th>
                        <td>Date modified.</td>
                        <td>DATE</td>
                    </tr>
               </tbody>
            </table>
        </div>
    </section>
	
	<section class="card endpoint" id="go_create">
        <header>
            <h2>
                <span class="ep-type">POST</span>
                <code>/publications/</code>
            </h2>
        </header>
        <div class="card-info">
            
            <code>/publications.json</code>
        </div>
        
        <div class="card-description ep-description">
            <h1>
                Create a new publication.
            </h1> 
            curl -d "publication[user_id]=42&publication[place_id]=42&publication[link]=www.google.com"  http://neerbyy.com/publications.json
            <br/><span style="color:red; font-style: italic;">-H 'Authorization: Token token="5gSvg-ZZuzxkZscV68U0ug"'</span>
        </div>
    </section>
	
	<!-- <section class="card endpoint" id="go_get_all">
        <header>
            <h2>
                <span class="ep-type">GET</span>
                <code>/publications/</code>
            </h2>
        </header>
        <div class="card-info">
           
            <code>/publications.json</code>
        </div>
        
        <div class="card-description ep-description">
            <h1>
                Get all the publications.
            </h1>   
            curl http://neerbyy.com/publications.json 
            <br/><span style="color:red; font-style: italic;">-H 'Authorization: Token token="5gSvg-ZZuzxkZscV68U0ug"'</span>
        </div>
 </section> -->
    
    <section class="card endpoint" id="go_get_one">
        <header>
            <h2>
                <span class="ep-type">GET</span>
                <code>/publications/</code><span class="token">user_id</span>
            </h2>
        </header>
        <div class="card-info">
            
            <code>/publications.json?user_id=34</code>
        </div>
      
        
        <div class="card-description ep-description">
            <h1>
                Get all the publications about a specific user.
            </h1>   
            curl http://neerbyy.com/publications.json?user_id=34
            <br/><span style="color:red; font-style: italic;">-H 'Authorization: Token token="5gSvg-ZZuzxkZscV68U0ug"'</span>
        </div>
    </section>

    <section class="card endpoint" id="go_get_place">
        <header>
            <h2>
                <span class="ep-type">GET</span>
                <code>/publications/</code><span class="token">place_id</span>
            </h2>
        </header>
        <div class="card-info">
            
            <code>/publications.json?place_id=323</code>
        </div>
        
        
        <div class="card-description ep-description">
            <h1>
                Get all the publications about a specific place.
            </h1>  
             curl http://neerbyy.com/publications.json?place_id=34
            <br/><span style="color:red; font-style: italic;">-H 'Authorization: Token token="5gSvg-ZZuzxkZscV68U0ug"'</span> 
        </div>
    </section>
    

    <section class="card endpoint" id="go_edit">
        <header>
            <h2>
                <span class="ep-type">PUT</span>
                <code>/publications/</code><span class="token">id</span>
            </h2>
        </header>
        <div class="card-info">
           
            <code>/publications/[id].json</code>
        </div>
        
        
        <div class="card-description ep-description">
            <h1>
                Edit a specific publication.
            </h1>
            curl -X PUT -d "publication[user_id]=11&publication[content]=exemple" http://neerbyy.com/publications/152.json 
            <br/><span style="color:red; font-style: italic;">-H 'Authorization: Token token="5gSvg-ZZuzxkZscV68U0ug"'</span>
        </div>
    </section>

    <section class="card endpoint" id="go_delete">
        <header>
            <h2>
                <span class="ep-type">DEL</span>
                <code>/publications/</code><span class="token">id</span>
            </h2>
        </header>
        <div class="card-info">
            
            <code>/publications/[id].json</code>
        </div>
        
        
        <div class="card-description ep-description">
            <h1>
                Delete a specific publication.
            </h1>   
            curl -X DELETE http://neerbyy.com/publications/152.json
            <br/><span style="color:red; font-style: italic;">-H 'Authorization: Token token="5gSvg-ZZuzxkZscV68U0ug"'</span>
        </div>
    </section>

    
        
    

  
            
