    <header>
        <h1>Publications Endpoints</h1>
    </header>

     <div class="index-nav index-endpoints">
        <ul>
        	<li>
                <a href="#go_create">
                    <span class="type">POST</span>
                    <b><code>/publications/</code></b>
                    <span class="description">Create a new publication.</span>
                    <i></i>
                </a>
            </li>
        	<li>
                <a href="#go_get_all">
                    <span class="type">GET</span>
                    <b><code>/publications/</code></b>
                    <span class="description">Get all the publications.</span>
                    <i></i>
                </a>
            </li>
            <li>
                <a href="#go_get_one">
                    <span class="type">GET</span>
                    <b><code>/publications/</code><span class="token">user_id</span></b>
                    <span class="description">Get all the publications about a specific user.</span>
                    <i></i>
                </a>
            </li>
            <li>
                <a href="#go_get_place">
                    <span class="type">GET</span>
                    <b><code>/publications/</code><span class="token">place_id</span></b>
                    <span class="description">Get all the publications about a specific place.</span>
                    <i></i>
                </a>
            </li>
            <li>
                <a href="#go_get_one">
                    <span class="type">GET</span>
                    <b><code>/publications/</code><span class="token">id</span></b>
                    <span class="description">Get basic information about an publication.</span>
                    <i></i>
                </a>
            </li>
            
            <li>
                <a href="#go_edit">
                    <span class="type">PUT</span>
                    <b><code>/publications/</code><span class="token">id</span></b>
                    <span class="description">Edit a specific publication.</span>
                    <i></i>
                </a>
            </li>
            <li>
                <a href="#go_delete">
                    <span class="type">DEL</span>
                    <b><code>/publications/</code><span class="token">id</span></b>
                    <span class="description">Delete a specific publication.</span>
                    <i></i>
                </a>
            </li>
        </ul>
    </div>
	
	 <section class="card endpoint" id="get_publications_feed">
        <div class="card-description ep-description">            
            <table>
                <tbody>  
                	<tr>
                        <th>id</th>
                        <td>The publication's id.</td>
                        <td>INTEGER</td>
                    </tr>           
                    <tr>
                        <th>user_id</th>
                        <td>The publication's user_id.</td>
                        <td>INTEGER</td>
                    </tr>
                    
                   
                    
                    <tr>
                        <th>place_id</th>
                        <td>The publication's place_id.</td>
                        <td>INTEGER</td>
                    </tr>
                    <tr>
                        <th>title</th>
                        <td>The publication's title.</td>
                        <td>STRING</td>
                    </tr>
                    <tr>
                        <th>content</th>
                        <td>The publication's content.</td>
                        <td>TEXT</td>
                    </tr>
                    <tr>
                        <th>File</th>
                        <td>The publication's file.</td>
                        <td>STRING</td>
                    </tr>
                    <tr>
                        <th>created_at</th>
                        <td>Date created.</td>
                        <td>DATE</td>
                    </tr>  
                    <tr>
                        <th>updated_at</th>
                        <td>Date modified.</td>
                        <td>DATE</td>
                    </tr>   
                    
               </tbody>
            </table>
        </div>
    </section>
	
	<section class="card endpoint" id="go_create">
        <header>
            <h2>
                <span class="ep-type">POST</span>
                <code>/publications/</code>
            </h2>
        </header>
        <div class="card-info">
            <ul class="actions">
                
                <li><a class="endpoint button" onclick="$('#create').slideToggle()"><b>Example</b></a></li>
                
            </ul>
            <code>/publications</code>
        </div>
        <div class="card-info-more ep-response" id="create">
			<div style=""><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">1</div></div><pre><span class="cm-variable">$</span>.<span class="cm-property">ajax</span>({</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">2</div></div><pre>    <span class="cm-property">type</span>: <span class="cm-string">"POST"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">3</div></div><pre>    <span class="cm-property">dataType</span>: <span class="cm-string">"script"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">4</div></div><pre>    <span class="cm-property">url</span>: <span class="cm-string">'/publications/'</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">5</div></div><pre>    <span class="cm-property">data</span>: {</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">6</div></div><pre>        <span class="cm-property">publication</span>: {</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">7</div></div><pre>            <span class="cm-property">user_id</span>:        <span class="cm-number">123</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">8</div></div><pre>            <span class="cm-property">place_id</span>:       <span class="cm-number">134</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">9</div></div><pre>            <span class="cm-property">title</span> :         <span class="cm-string">"Me and my girlfriend"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">10</div></div><pre>            <span class="cm-property">content</span>:        <span class="cm-string">"We loved here"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">11</div></div><pre>            <span class="cm-property">file</span>:<span class="cm-tab">   </span><span class="cm-tab">    </span><span class="cm-tab">    </span><span class="cm-string">"12x23f23xf..."</span></pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">12</div></div><pre>        }</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">13</div></div><pre>    }</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">14</div></div><pre>});</pre></div><div style="position: relative; display: none;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">9</div></div><pre>    <span class="cm-variable">data</span>: {</pre></div></div>
        </div>
        <div class="card-description ep-description">
            <p>
                Create a new publication.
            </p>   
        </div>
    </section>
	
	 <section class="card endpoint" id="go_get_all">
        <header>
            <h2>
                <span class="ep-type">GET</span>
                <code>/publications/</code>
            </h2>
        </header>
        <div class="card-info">
            <ul class="actions">
                
                <li><a class="endpoint button" onclick="$('#get_all').slideToggle()"><b>Response</b></a></li>
                
            </ul>
            <code>/publications.json</code>
        </div>
        <div class="card-info-more ep-response" id="get_all">
			<div style=""><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">1</div></div><pre>{</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">2</div></div><pre>    <span class="cm-string">"responseCode"</span>: <span class="cm-number">0</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">3</div></div><pre>    <span class="cm-string">"responseMessage"</span>: <span class="cm-string">"success"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">4</div></div><pre>    <span class="cm-string">"result"</span>: {</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">5</div></div><pre>        <span class="cm-string">"publications"</span>: [{</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">6</div></div><pre>            <span class="cm-string cm-property">"id"</span>: <span class="cm-number">1</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">7</div></div><pre>            <span class="cm-string cm-property">"user_id"</span>: <span class="cm-number">34</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">8</div></div><pre>            <span class="cm-string cm-property">"place_id"</span>: <span class="cm-number">765</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">9</div></div><pre>            <span class="cm-string cm-property">"title"</span>: <span class="cm-string">"Me and my girlfriend"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">10</div></div><pre>            <span class="cm-string cm-property">"content"</span>: <span class="cm-string">"We f..k here"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">11</div></div><pre>            <span class="cm-string cm-property">"created_at"</span>: <span class="cm-string">"2013-10-26T04:35:43.842Z"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">12</div></div><pre>            <span class="cm-string cm-property">"updated_at"</span>: <span class="cm-string">"2014-02-27T22:48:41.557Z"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">13</div></div><pre>            <span class="cm-string cm-property">"file"</span>: {</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">14</div></div><pre>                <span class="cm-string cm-property">"url"</span>: <span class="cm-string">"/uploads/publication/file/1/00v0v_dxFFhSMQ0MI_600x450.jpg"</span></pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">15</div></div><pre>            }</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">16</div></div><pre>        }, {</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">17</div></div><pre>            <span class="cm-string cm-property">"id"</span>: <span class="cm-number">2</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">18</div></div><pre>            <span class="cm-string cm-property">"user_id"</span>: <span class="cm-number">123</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">19</div></div><pre>            <span class="cm-string cm-property">"place_id"</span>: <span class="cm-number">323</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">20</div></div><pre>            <span class="cm-string cm-property">"title"</span>: <span class="cm-string">"Taj Mahal"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">21</div></div><pre>            <span class="cm-string cm-property">"content"</span>: <span class="cm-string">"The Taj Mahal is a monument of love, and a symbol for India. "</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">22</div></div><pre>            <span class="cm-string cm-property">"created_at"</span>: <span class="cm-string">"2013-10-26T04:37:09.017Z"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">23</div></div><pre>            <span class="cm-string cm-property">"updated_at"</span>: <span class="cm-string">"2014-02-27T22:48:58.187Z"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">24</div></div><pre>            <span class="cm-string cm-property">"file"</span>: {</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">25</div></div><pre>                <span class="cm-string cm-property">"url"</span>: <span class="cm-string">"/uploads/publication/file/2/00B0B_kMV0hFnpSTU_600x450.jpg"</span></pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">26</div></div><pre>            }</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">27</div></div><pre>        }, {</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">28</div></div><pre>            <span class="cm-string cm-property">"id"</span>: <span class="cm-number">3</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">29</div></div><pre>            <span class="cm-string cm-property">"user_id"</span>: <span class="cm-number">34</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">30</div></div><pre>            <span class="cm-string cm-property">"place_id"</span>: <span class="cm-number">543</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">31</div></div><pre>            <span class="cm-string cm-property">"title"</span>: <span class="cm-string">"csulb"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">32</div></div><pre>            <span class="cm-string cm-property">"content"</span>: <span class="cm-string">"University Long beach"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">33</div></div><pre>            <span class="cm-string cm-property">"created_at"</span>: <span class="cm-string">"2013-11-21T20:48:40.234Z"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">34</div></div><pre>            <span class="cm-string cm-property">"updated_at"</span>: <span class="cm-string">"2014-02-27T22:49:14.664Z"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">35</div></div><pre>            <span class="cm-string cm-property">"file"</span>: {</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">36</div></div><pre>                <span class="cm-string cm-property">"url"</span>: <span class="cm-string">"/uploads/publication/file/3/311764.jpg"</span></pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">37</div></div><pre>            }</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">38</div></div><pre>        }, {</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">39</div></div><pre>            <span class="cm-string cm-property">"id"</span>: <span class="cm-number">4</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">40</div></div><pre>            <span class="cm-string cm-property">"user_id"</span>: <span class="cm-number">12</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">41</div></div><pre>            <span class="cm-string cm-property">"place_id"</span>: <span class="cm-number">323</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">42</div></div><pre>            <span class="cm-string cm-property">"title"</span>: <span class="cm-string">"St catrine"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">43</div></div><pre>            <span class="cm-string cm-property">"content"</span>: <span class="cm-string">"Best place for sales"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">44</div></div><pre>            <span class="cm-string cm-property">"created_at"</span>: <span class="cm-string">"2013-11-21T21:53:09.595Z"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">45</div></div><pre>            <span class="cm-string cm-property">"updated_at"</span>: <span class="cm-string">"2014-02-27T22:49:31.839Z"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">46</div></div><pre>            <span class="cm-string cm-property">"file"</span>: {</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">47</div></div><pre>                <span class="cm-string cm-property">"url"</span>: <span class="cm-string">"/uploads/publication/file/4/animal_theme_design_wallpaper_computer_PS_1920x1080.jpg"</span></pre></div><div style="position: relative; display: none;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">5</div></div><pre>        <span class="cm-string">"publications"</span>: [{</pre></div></div>
        </div>
        <div class="card-description ep-description">
            <p>
                Get all the publications.
            </p>   
        </div>
    </section>
    
    <section class="card endpoint" id="go_get_one">
        <header>
            <h2>
                <span class="ep-type">GET</span>
                <code>/publications/</code><span class="token">user_id</span>
            </h2>
        </header>
        <div class="card-info">
            <ul class="actions">
                <li><a class="endpoint button" onclick="$('#get_user').slideToggle()"><b>Response</b></a></li>
            </ul>
            <code>/publications.json?user_id=34</code>
        </div>
        <div class="card-info-more ep-response" id="get_user">
			<div style=""><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">1</div></div><pre>{</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">2</div></div><pre>    <span class="cm-string">"responseCode"</span>: <span class="cm-number">0</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">3</div></div><pre>    <span class="cm-string">"responseMessage"</span>: <span class="cm-string">"success"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">4</div></div><pre>    <span class="cm-string">"result"</span>: {</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">5</div></div><pre>        <span class="cm-string">"publications"</span>: [{</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">6</div></div><pre>            <span class="cm-string cm-property">"id"</span>: <span class="cm-number">1</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">7</div></div><pre>            <span class="cm-string cm-property">"user_id"</span>: <span class="cm-number">34</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">8</div></div><pre>            <span class="cm-string cm-property">"place_id"</span>: <span class="cm-number">765</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">9</div></div><pre>            <span class="cm-string cm-property">"title"</span>: <span class="cm-string">"Me and my girlfriend"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">10</div></div><pre>            <span class="cm-string cm-property">"content"</span>: <span class="cm-string">"We f..k here"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">11</div></div><pre>            <span class="cm-string cm-property">"created_at"</span>: <span class="cm-string">"2013-10-26T04:35:43.842Z"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">12</div></div><pre>            <span class="cm-string cm-property">"updated_at"</span>: <span class="cm-string">"2014-02-27T22:48:41.557Z"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">13</div></div><pre>            <span class="cm-string cm-property">"file"</span>: {</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">14</div></div><pre>                <span class="cm-string cm-property">"url"</span>: <span class="cm-string">"/uploads/publication/file/1/00v0v_dxFFhSMQ0MI_600x450.jpg"</span></pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">15</div></div><pre>            }</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">16</div></div><pre>        }, {</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">17</div></div><pre>            <span class="cm-string cm-property">"id"</span>: <span class="cm-number">3</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">18</div></div><pre>            <span class="cm-string cm-property">"user_id"</span>: <span class="cm-number">34</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">19</div></div><pre>            <span class="cm-string cm-property">"place_id"</span>: <span class="cm-number">543</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">20</div></div><pre>            <span class="cm-string cm-property">"title"</span>: <span class="cm-string">"csulb"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">21</div></div><pre>            <span class="cm-string cm-property">"content"</span>: <span class="cm-string">"University Long beach"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">22</div></div><pre>            <span class="cm-string cm-property">"created_at"</span>: <span class="cm-string">"2013-11-21T20:48:40.234Z"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">23</div></div><pre>            <span class="cm-string cm-property">"updated_at"</span>: <span class="cm-string">"2014-02-27T22:49:14.664Z"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">24</div></div><pre>            <span class="cm-string cm-property">"file"</span>: {</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">25</div></div><pre>                <span class="cm-string cm-property">"url"</span>: <span class="cm-string">"/uploads/publication/file/3/311764.jpg"</span></pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">26</div></div><pre>            }</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">27</div></div><pre>        }]</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">28</div></div><pre>    }</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">29</div></div><pre>}</pre></div><div style="position: relative; display: none;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">28</div></div><pre>    }</pre></div></div>
        </div>
        
        <div class="card-description ep-description">
            <p>
                Get all the publications about a specific user.
            </p>   
        </div>
    </section>

    <section class="card endpoint" id="go_get_place">
        <header>
            <h2>
                <span class="ep-type">GET</span>
                <code>/publications/</code><span class="token">place_id</span>
            </h2>
        </header>
        <div class="card-info">
            <ul class="actions">
                <li><a class="endpoint button" onclick="$('#get_place').slideToggle()"><b>Response</b></a></li>
            </ul>
            <code>/publications.json?place_id=323</code>
        </div>
        <div class="card-info-more ep-response" id="get_place">
			<div style=""><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">1</div></div><pre>{</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">2</div></div><pre>    <span class="cm-string">"responseCode"</span>: <span class="cm-number">0</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">3</div></div><pre>    <span class="cm-string">"responseMessage"</span>: <span class="cm-string">"success"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">4</div></div><pre>    <span class="cm-string">"result"</span>: {</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">5</div></div><pre>        <span class="cm-string">"publications"</span>: [{</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">6</div></div><pre>            <span class="cm-string cm-property">"id"</span>: <span class="cm-number">2</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">7</div></div><pre>            <span class="cm-string cm-property">"user_id"</span>: <span class="cm-number">123</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">8</div></div><pre>            <span class="cm-string cm-property">"place_id"</span>: <span class="cm-number">323</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">9</div></div><pre>            <span class="cm-string cm-property">"title"</span>: <span class="cm-string">"Taj Mahal"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">10</div></div><pre>            <span class="cm-string cm-property">"content"</span>: <span class="cm-string">"The Taj Mahal is a monument of love, and a symbol for India. "</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">11</div></div><pre>            <span class="cm-string cm-property">"created_at"</span>: <span class="cm-string">"2013-10-26T04:37:09.017Z"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">12</div></div><pre>            <span class="cm-string cm-property">"updated_at"</span>: <span class="cm-string">"2014-02-27T22:48:58.187Z"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">13</div></div><pre>            <span class="cm-string cm-property">"file"</span>: {</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">14</div></div><pre>                <span class="cm-string cm-property">"url"</span>: <span class="cm-string">"/uploads/publication/file/2/00B0B_kMV0hFnpSTU_600x450.jpg"</span></pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">15</div></div><pre>            }</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">16</div></div><pre>        }, {</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">17</div></div><pre>            <span class="cm-string cm-property">"id"</span>: <span class="cm-number">4</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">18</div></div><pre>            <span class="cm-string cm-property">"user_id"</span>: <span class="cm-number">12</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">19</div></div><pre>            <span class="cm-string cm-property">"place_id"</span>: <span class="cm-number">323</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">20</div></div><pre>            <span class="cm-string cm-property">"title"</span>: <span class="cm-string">"St catrine"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">21</div></div><pre>            <span class="cm-string cm-property">"content"</span>: <span class="cm-string">"Best place for sales"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">22</div></div><pre>            <span class="cm-string cm-property">"created_at"</span>: <span class="cm-string">"2013-11-21T21:53:09.595Z"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">23</div></div><pre>            <span class="cm-string cm-property">"updated_at"</span>: <span class="cm-string">"2014-02-27T22:49:31.839Z"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">24</div></div><pre>            <span class="cm-string cm-property">"file"</span>: {</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">25</div></div><pre>                <span class="cm-string cm-property">"url"</span>: <span class="cm-string">"/uploads/publication/file/4/animal_theme_design_wallpaper_computer_PS_1920x1080.jpg"</span></pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">26</div></div><pre>            }</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">27</div></div><pre>        }]</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">28</div></div><pre>    }</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">29</div></div><pre>}</pre></div><div style="position: relative; display: none;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">6</div></div><pre>            <span class="cm-string cm-property">"id"</span>: <span class="cm-number">1</span>,</pre></div></div>
        </div>
        
        <div class="card-description ep-description">
            <p>
                Get all the publications about a specific place.
            </p>   
        </div>
    </section>
    

    <section class="card endpoint" id="go_edit">
        <header>
            <h2>
                <span class="ep-type">PUT</span>
                <code>/publications/</code><span class="token">id</span>
            </h2>
        </header>
        <div class="card-info">
            <ul class="actions">
                
                <li><a class="endpoint button" onclick="$('#edit').slideToggle()"><b>Example</b></a></li>
                
            </ul>
            <code>/publications/[id].json</code>
        </div>
        <div class="card-info-more ep-response" id="edit">
			<div style=""><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">1</div></div><pre><span class="cm-variable">$</span>.<span class="cm-property">ajax</span>({</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">2</div></div><pre>    <span class="cm-property">type</span>: <span class="cm-string">"PUT"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">3</div></div><pre>    <span class="cm-property">dataType</span>: <span class="cm-string">"script"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">4</div></div><pre>    <span class="cm-property">url</span>: <span class="cm-string">'/publications/'</span>+ <span class="cm-variable">id</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">5</div></div><pre>    <span class="cm-property">data</span>: {</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">6</div></div><pre>        <span class="cm-property">publication</span>: {</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">7</div></div><pre>            <span class="cm-property">user_id</span>:        <span class="cm-number">123</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">8</div></div><pre>            <span class="cm-property">place_id</span>:       <span class="cm-number">134</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">9</div></div><pre>            <span class="cm-property">title</span> :         <span class="cm-string">"Me and my girlfriend"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">10</div></div><pre>            <span class="cm-property">content</span>:        <span class="cm-string">"We loved here"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">11</div></div><pre>            <span class="cm-property">file</span>:<span class="cm-tab">   </span><span class="cm-tab">    </span><span class="cm-tab">    </span><span class="cm-string">"12x23f23xf..."</span></pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">12</div></div><pre>        }</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">13</div></div><pre>    }</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">14</div></div><pre>});</pre></div><div style="position: relative; display: none;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">9</div></div><pre>    <span class="cm-variable">data</span>: {</pre></div></div>
        </div>
        
        <div class="card-description ep-description">
            <p>
                Edit a specific publication.
            </p>
        </div>
    </section>

    <section class="card endpoint" id="go_delete">
        <header>
            <h2>
                <span class="ep-type">DEL</span>
                <code>/publications/</code><span class="token">id</span>
            </h2>
        </header>
        <div class="card-info">
            <ul class="actions">
                
                <li><a class="endpoint button" onclick="$('#delete').slideToggle()"><b>Example</b></a></li>
                
            </ul>
            <code>http://0.0.0.0:3000/publications/[id].json</code>
        </div>
        <div class="card-info-more ep-response" id="delete">
			<div style=""><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">1</div></div><pre><span class="cm-variable">$</span>.<span class="cm-property">ajax</span>({</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">2</div></div><pre>    <span class="cm-property">type</span>: <span class="cm-string">"DELETE"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">3</div></div><pre>    <span class="cm-property">dataType</span>: <span class="cm-string">"script"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">4</div></div><pre>    <span class="cm-property">url</span>: <span class="cm-string">'/publications/'</span> + <span class="cm-variable">publication_id</span></pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">5</div></div><pre>});</pre></div><div style="position: relative; display: none;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">2</div></div><pre>    <span class="cm-string">"id"</span>: <span class="cm-number">12</span>,</pre></div></div>
        </div>
        
        <div class="card-description ep-description">
            <p>
                Delete a specific publication.
            </p>   
        </div>
    </section>

    
        
    

  
            
