    <header>
        <h1>Reset password Endpoints</h1>
    </header>

     <div class="index-nav index-endpoints">
        <ul>
        	
        	
            <li>
                <a href="#go_get_one">
                    <span class="type">POST</span>
                    <b><code>/password_resets/ + </code><span class="token">email</span></b>
                    <span class="description">Reset a password.</span>
                    <i></i>
                </a>
            </li>
            
        </ul>
    </div>
	
	 <section class="card endpoint" id="get_Resetpassword_feed">
        <div class="card-description ep-description">            
            <table>
                <tbody>  
                	<tr>
                        <th>email</th>
                        <td>The user's email.</td>
                        <td>STRING</td>
                    </tr>  
                    
                    
                    
               </tbody>
            </table>
        </div>
    </section>
	
	<section class="card endpoint" id="go_create">
        <header>
            <h2>
                <span class="ep-type">POST</span>
                <code>/password_resets/</code>
            </h2>
        </header>
        <div class="card-info">
            <ul class="actions">
                <li><a class="endpoint button" onclick="$('#create').slideToggle()"><b>Example</b></a></li>
            </ul>
            <code>http://0.0.0.0:3000/password_resets</code>
        </div>
        <div class="card-info-more ep-response" id="create" style="padding: 20px">
			curl -d "email=mourad.sabour@gmail.com" http://0.0.0.0:3000/password_resets.json
        </div>
        <div class="card-description ep-description">
            <p>
                Reset a password.
            </p>   
        </div>
    </section>
	
	

    
        
    

  
            
