    <header>
        <h1>Users Endpoints</h1>
    </header>

     <div class="index-nav index-endpoints">
        <ul>
        	<li>
                <a href="#go_create">
                    <span class="type">POST</span>
                    <b><code>/users/</code></b>
                    <span class="description">Create a new user.</span>
                    <i></i>
                </a>
            </li>
        	<li>
                <a href="#go_get_all">
                    <span class="type">GET</span>
                    <b><code>/users/</code></b>
                    <span class="description">Get all the users.</span>
                    <i></i>
                </a>
            </li>
            <li>
                <a href="#go_get_one">
                    <span class="type">GET</span>
                    <b><code>/users/</code><span class="token">id</span></b>
                    <span class="description">Get basic information about an user.</span>
                    <i></i>
                </a>
            </li>
            <li>
                <a href="#go_edit">
                    <span class="type">PUT</span>
                    <b><code>/users/</code><span class="token">id</span></b>
                    <span class="description">Edit a specific user.</span>
                    <i></i>
                </a>
            </li>
            <li>
                <a href="#go_delete">
                    <span class="type">DEL</span>
                    <b><code>/users/</code><span class="token">id</span></b>
                    <span class="description">Delete a specific user.</span>
                    <i></i>
                </a>
            </li>
        </ul>
    </div>
	
	 <section class="card endpoint" id="get_users_feed">
        <div class="card-description ep-description">            
            <table>
                <tbody>  
                	<tr>
                        <th>id</th>
                        <td>The user's id.</td>
                        <td>INTEGER</td>
                    </tr>  
                    
                    <tr>
                        <th>username</th>
                        <td>The user's username.</td>
                        <td>STRING</td>
                    </tr>  
                             
                    <tr>
                        <th>firstname</th>
                        <td>The user's firstname.</td>
                        <td>STRING</td>
                    </tr>
                    <tr>
                        <th>lastname</th>
                        <td>The user's lastname.</td>
                        <td>STRING</td>
                    </tr> 
                    <tr>
                        <th>email</th>
                        <td>The user's email.</td>
                        <td>STRING</td>
                    </tr> 
                    <tr>
                        <th>password</th>
                        <td>The user's password.</td>
                        <td>STRING</td>
                    </tr> 
                    <tr>
                        <th>avatar</th>
                        <td>The user's avatar.</td>
                        <td>STRING</td>
                    </tr> 
                    <tr>
                        <th>auth_token</th>
                        <td>Authentification token.</td>
                        <td>STRING</td>
                    </tr> 
                    
                    
               </tbody>
            </table>
        </div>
    </section>
	
	<section class="card endpoint" id="go_create">
        <header>
            <h2>
                <span class="ep-type">POST</span>
                <code>/users/</code>
            </h2>
        </header>
        <div class="card-info">
            
            <code>/users.json</code>
        </div>
        
        <div class="card-description ep-description">
            <h1>
                Create a new user.
            </h1>
            curl -d "user[username]=moomou&user[email]=moomou@gmail.com&user[password]=pkpa"  http://neerbyy.com/users.json
            <br/><span style="color:red; font-style: italic;">-H 'Authorization: Token token="5gSvg-ZZuzxkZscV68U0ug"'</span>
       
        </div>
    </section>
	
	 <!-- <section class="card endpoint" id="go_get_all">
        <header>
            <h2>
                <span class="ep-type">GET</span>
                <code>/users/</code>
            </h2>
        </header>
        <div class="card-info">
           
            <code>/users.json</code>
        </div>
       
        <div class="card-description ep-description">
            <h1>
                Get all the users.
            </h1>
            curl http://neerbyy.com/users.json 
            <br/><span style="color:red; font-style: italic;">-H 'Authorization: Token token="5gSvg-ZZuzxkZscV68U0ug"'</span>
        </div>
  </section> -->
    
    <section class="card endpoint" id="go_get_one">
        <header>
            <h2>
                <span class="ep-type">GET</span>
                <code>/users/</code><span class="token">id</span>
            </h2>
        </header>
        <div class="card-info">
            
            <code>/users/[id].json</code>
        </div>
        
        
        <div class="card-description ep-description">
            <h1>
                Get basic information about an user.
            </h1>   
            curl http://neerbyy.com/users/42.json 
            <br/><span style="color:red; font-style: italic;">-H 'Authorization: Token token="5gSvg-ZZuzxkZscV68U0ug"'</span>
        </div>
    </section>
    

    <section class="card endpoint" id="go_edit">
        <header>
            <h2>
                <span class="ep-type">PUT</span>
                <code>/users/</code><span class="token">id</span>
            </h2>
        </header>
        <div class="card-info">
            
            <code>/users/[id].json</code>
        </div>
        
        
        <div class="card-description ep-description">
            <h1>
                Edit a specific user.
            </h1>   
            curl -X PUT -d "user[email]=max334@gmail.com&user[lastname]=jackson" http://neerbyy.com/users/152.json 
            <br/><span style="color:red; font-style: italic;">-H 'Authorization: Token token="5gSvg-ZZuzxkZscV68U0ug"'</span>
        </div>
    </section>

    <section class="card endpoint" id="go_delete">
        <header>
            <h2>
                <span class="ep-type">DEL</span>
                <code>/users/</code><span class="token">id</span>
            </h2>
        </header>
        <div class="card-info">
           
            <code>/users/[id].json</code>
        </div>
       
        
        <div class="card-description ep-description">
            <h1>
                Delete a specific user.
            </h1>   
            curl -X DELETE http://neerbyy.com/users/152.json
            <br/><span style="color:red; font-style: italic;">-H 'Authorization: Token token="5gSvg-ZZuzxkZscV68U0ug"'</span>
        </div>
    </section>

    
        
    

  
            
