    <header>
        <h1>Votes Endpoints</h1>
    </header>

     <div class="index-nav index-endpoints">
        <ul>
        	<li>
                <a href="#go_create">
                    <span class="type">POST</span>
                    <b><code>/votes/</code></b>
                    <span class="description">Create a new vote.</span>
                    <i></i>
                </a>
            </li>
        	<li>
                <a href="#go_get_all">
                    <span class="type">GET</span>
                    <b><code>/votes/</code></b>
                    <span class="description">Get all the votes.</span>
                    <i></i>
                </a>
            </li>
            
            <li>
                <a href="#go_get_one">
                    <span class="type">GET</span>
                    <b><code>/votes/</code><span class="token">publication_id</span></b>
                    <span class="description">Get all the reports about a specific publication.</span>
                    <i></i>
                </a>
            </li>
            <li>
                <a href="#go_get_one">
                    <span class="type">GET</span>
                    <b><code>/votes/</code><span class="token">vote_id</span></b>
                    <span class="description">Get all the reports about a specific vote.</span>
                    <i></i>
                </a>
            </li>
            
            <li>
                <a href="#go_get_one">
                    <span class="type">GET</span>
                    <b><code>/votes/</code><span class="token">id</span></b>
                    <span class="description">Get basic information about an vote.</span>
                    <i></i>
                </a>
            </li>
            <li>
                <a href="#go_edit">
                    <span class="type">PUT</span>
                    <b><code>/votes/</code><span class="token">id</span></b>
                    <span class="description">Edit a specific vote.</span>
                    <i></i>
                </a>
            </li>
            <li>
                <a href="#go_delete">
                    <span class="type">DEL</span>
                    <b><code>/votes/</code><span class="token">id</span></b>
                    <span class="description">Delete a specific vote.</span>
                    <i></i>
                </a>
            </li>
        </ul>
    </div>
	
	 <section class="card endpoint" id="get_votes_feed">
        <div class="card-description ep-description">            
            <table>
                <tbody>  
                	<tr>
                        <th>id</th>
                        <td>The vote's id.</td>
                        <td>INTEGER</td>
                    </tr>  
                    
                    <tr>
                        <th>publication_id</th>
                        <td>The vote's publication_id.</td>
                        <td>INTEGER</td>
                    </tr>  
                    <tr>
                        <th>user_id</th>
                        <td>The vote's user_id.</td>
                        <td>INTEGER</td>
                    </tr>  
                    <tr>
                        <th>value</th>
                        <td>The vote's value.</td>
                        <td>BOOLEAN</td>
                    </tr>  
                    <tr>
                        <th>created_at</th>
                        <td>Date created.</td>
                        <td>DATE</td>
                    </tr>  
                    <tr>
                        <th>updated_at</th>
                        <td>Date modified.</td>
                        <td>DATE</td>
                    </tr>   
                    
               </tbody>
            </table>
        </div>
    </section>
	
	<section class="card endpoint" id="go_create">
        <header>
            <h2>
                <span class="ep-type">POST</span>
                <code>/votes/</code>
            </h2>
        </header>
        <div class="card-info">
            <ul class="actions">
                <li><a class="endpoint button" onclick="$('#create').slideToggle()"><b>Example</b></a></li>
            </ul>
            <code>/votes.json</code>
        </div>
        <div class="card-info-more ep-response" id="create">
			<div style=""><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">1</div></div><pre><span class="cm-variable">$</span>.<span class="cm-property">ajax</span>({</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">2</div></div><pre>    <span class="cm-property">type</span>: <span class="cm-string">"POST"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">3</div></div><pre>    <span class="cm-property">dataType</span>: <span class="cm-string">"script"</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">4</div></div><pre>    <span class="cm-property">url</span>: <span class="cm-string">'/votes/'</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">5</div></div><pre>    <span class="cm-property">data</span>: {</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">6</div></div><pre>        <span class="cm-property">vote</span>: {</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">7</div></div><pre>            <span class="cm-property">publication_id</span>:  <span class="cm-number">54</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">8</div></div><pre>            <span class="cm-property">vote_id</span>: <span class="cm-tab">   </span><span class="cm-tab">    </span> <span class="cm-number">111</span>,</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">9</div></div><pre>            <span class="cm-property">value</span>:<span class="cm-tab">  </span><span class="cm-tab">    </span> <span class="cm-tab">   </span> <span class="cm-atom">true</span></pre></div><div style="position: relative; display: none;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">11</div></div><pre>          <span class="cm-property">password</span>:</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">10</div></div><pre>        }</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">11</div></div><pre>    }</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;"><div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 20px;">12</div></div><pre>});</pre></div></div>
        </div>
        <div class="card-description ep-description">
            <h1>
                Create a new vote.
            </h1>
            
            <p>For a like 'value' should be 1 and for a dislike 0.</p><Br/>
            
            curl -d "vote[publication_id]=32&vote[user_id]=42&vote[value]=0"  http://neerbyy.com/votes.json
            <br/><span style="color:red; font-style: italic;">-H 'Authorization: Token token="5gSvg-ZZuzxkZscV68U0ug"'</span>
        </div>
    </section>
	
	<!-- <section class="card endpoint" id="go_get_all">
        <header>
            <h2>
                <span class="ep-type">GET</span>
                <code>/votes/</code>
            </h2>
        </header>
        <div class="card-info">
           
            <code>/votes.json</code>
        </div>
        
        <div class="card-description ep-description">
            <h1>
                Get all the votes.
            </h1>
            curl http://neerbyy.com/votes.json 
            <br/><span style="color:red; font-style: italic;">-H 'Authorization: Token token="5gSvg-ZZuzxkZscV68U0ug"'</span>
        </div>
 </section> -->
    
    <section class="card endpoint" id="go_get_one">
        <header>
            <h2>
                <span class="ep-type">GET</span>
                <code>/votes/</code><span class="token">id</span>
            </h2>
        </header>
        <div class="card-info">
           
            <code>/votes/[id].json</code>
        </div>
       
        
        <div class="card-description ep-description">
            <h1>
                Get basic information about an vote.
            </h1>   
            curl http://neerbyy.com/votes/42.json 
            <br/><span style="color:red; font-style: italic;">-H 'Authorization: Token token="5gSvg-ZZuzxkZscV68U0ug"'</span>
        </div>
    </section>
    

    <section class="card endpoint" id="go_edit">
        <header>
            <h2>
                <span class="ep-type">PUT</span>
                <code>/votes/</code><span class="token">id</span>
            </h2>
        </header>
        <div class="card-info">
            
            <code>/votes/[id].json</code>
        </div>
       
        
        <div class="card-description ep-description">
            <h1>
                Edit a specific vote.
            </h1>  
            curl -X PUT -d "vote[publication_id]=32&vote[user_id]=42&vote[value]=0" http://neerbyy.com/votes/152.json 
            <br/><span style="color:red; font-style: italic;">-H 'Authorization: Token token="5gSvg-ZZuzxkZscV68U0ug"'</span> 
        </div>
    </section>

    <section class="card endpoint" id="go_delete">
        <header>
            <h2>
                <span class="ep-type">DEL</span>
                <code>/votes/</code><span class="token">id</span>
            </h2>
        </header>
        <div class="card-info">
            
            <code>/votes/[id].json</code>
        </div>
       
        
        <div class="card-description ep-description">
            <h1>
                Delete a specific vote.
            </h1>   
            curl -X DELETE http://neerbyy.com/votes/152.json
            <br/><span style="color:red; font-style: italic;">-H 'Authorization: Token token="5gSvg-ZZuzxkZscV68U0ug"'</span>
        </div>
    </section>

    
        
    

  
            
