<html xmlns="http://www.w3.org/1999/xhtml" lang="en" class="hl-en not-logged-in "><head>
  <meta charset="UTF-8">
  <title>Neerbyy Back office</title>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'bootstrap' %>
  <%= stylesheet_link_tag 'css/bootstrap',  :media => 'screen' %>
</head>
<body class="sidebar-page">
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">NEERBYY BACK OFFICE</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/log_out">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="container">
  <div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="/users">Users</a></li>
          <li><a href="/publications">Publications</a></li>
          <li><a href="/votes">Votes</a></li>
          <li><a href="/comments">Comments</a></li>
          <li><a href="/followed_places">Follow places</a></li>
          <li><a href="/messages">Message</a></li>
          <li><a href="/report_comments">Comment Reports</a></li>
          <li><a href="/report_publications">Publication Reports</a></li>
        </ul>
   </div>

    <div class="col-md-8">
        <%= yield %>
    </div>
  </div>
</div>

</body>
</html>