<html xmlns="http://www.w3.org/1999/xhtml" lang="en" class="hl-en not-logged-in "><head>
    <meta charset="UTF-8">
    <title>Neerbyy Back office</title>
  <%= javascript_include_tag 'bootstrap' %>
  <%= stylesheet_link_tag 'css/bootstrap',  :media => 'screen' %>
</head>
<body class="sidebar-page">
    <%= yield %>
</body>
</html>
