<html xmlns="http://www.w3.org/1999/xhtml" lang="en" class="hl-en not-logged-in "><head>
    <meta charset="UTF-8">
    <title>Web service Documentation</title>
    <link rel="stylesheet" type="text/css" href="/assets/webservice.css">
	<script type="text/javascript" src="//d36xtkk24g8jdx.cloudfront.net/bluebar/f9a876b/scripts/jquery.js"></script>
	<style>
		.cm-string
		{
			color: #a11;
		}
		.cm-property
		{
			color: black;
		}
	</style>
</head>
<body class="sidebar-page" style="background:#2AB992;">
<div class="root">
    <div class="page">  
    	
    <div class="sidebar">
        <div class="wrapper">
            <nav class="sidebar-nav">
                <div class="sidebar-content">
                	
				<ul>
				    <!-- <li><a href="">Other stuff<i class="disclosure"></i></a></li> -->
				    <li class="active">
				    	<a href="/webservices">Web service<i class="disclosure"></i></a>
						<ul>
				           <!--<li><a href="/webservice-advertising">Advertising</a></li>
				           <li><a href="/webservice-category">Category</a></li>
				           <li><a href="/webservice-company">Company</a></li> -->
				           <li><a href="/webservice-login">Login</a></li>
				           <li><a href="/webservice-resetpassword">Reset password</a></li>
				          
				           <li><a href="/webservice-place">Place</a></li>
				           <li><a href="/webservice-publication">Publication</a></li>
				           <!--<li><a href="/webservice-relationship">Relationship</a></li> -->
				           <!--<li><a href="/webservice-report">Report</a></li> -->
				           <li><a href="/webservice-user">User</a></li>
				           <li><a href="/webservice-vote">Vote</a></li>
				           <li><a href="/webservice-comment">Comment</a></li>
				        </ul>
				    </li>
				</ul>
                </div>
            </nav>
        </div>
    </div>
    
    
    <div class="main">
        <div class="wrapper">
            <section class="nav-page-content" role="main">
			    <%= yield %>
		    </section>
        </div> <!-- .main -->
    </div> <!-- .main -->
    </div> 
</div> 
</body>
</html>
